/*導覽列連結*/

.navbar {
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid #a8a8a8;
}

nav a {
    list-style: none;
    color: #ffffff;
    text-decoration: none;
}


/*導覽列選項設定*/

#menu-nav li {
    line-height: 8vh;
    font-size: 12px;
    font-family: sans-serif;
}

#menu-nav a {
    color: black;
}

#menu-nav a:hover {
    color: #f08d8d;
}

.navbar .icon-Ying-03 {
    /*Nav logo設定*/
    font-size: 30px;
    color: black;
}

.navbar-header a:hover {
    color: #f08d8d;
}


/*導覽列設定結束*/


/*Jumbotron setting*/

.logo-name {
    width: 50%;
    margin: 0 auto;
}

.jumbotron .icon-Ying-03 {
    /*logo設定*/
    text-align: center;
    font-size: 120px;
    color: #ffffff;
}

.jumbotron {
    margin-top: 100px;
    height: 40vh;
    background-image: url(../img/B1.jpg);
    background-size: cover;
}

.intro-web {
    margin: 0 auto;
    width: 50%;
    color: #ffffff;
    text-align: center;
}

.jumbotron p {
    margin-top: 25px;
    font-size: 15px;
}


/*Jumbotron setting End*/


/*Section setting*/

[class*=-title] {
    /*    all title setting*/
    text-align: center;
    font-size: 30px;
    padding: 55px;
    font-weight: bold;
    color: #5d5d5d;
}


/*Collection*/

.gallery-title {
    /*分隔線設定*/
    width: 75%;
    border-top: 2px solid #c6c6c6;
    padding: 0;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.gallery-title span {
    display: block;
    margin: 0 auto;
    background-color: #fff;
    width: 40%;
    height: auto;
    padding: 5px 10px;
    position: relative;
    top: -25px;
}


.section-container {
    width: 80%;
    margin: 0 auto;
}

.section-container li {
    list-style: none;
}

[class^=pic-] {
    display: block;
    margin: 0 auto;
    width: 150px;
}

.section-h1 {
    font-size: 18px;
    text-align: center;
    color: #000000;
}

.section-p {
    font-size: 14px;
    text-align: center;
    color: black;
    color: #484848;
}

section a:hover h1 {
    color: #f08d8d;

}

section a:hover p {
    color: #f08d8d;
}

/*subMenu hover setting*/
.subMenu{
    display: none;
}
/*subMenu setting*/
.subMenu-container{
    width: 80%;
    padding: 5px;
    margin: 0 auto;
    background-color: #D1C7E2;
    border-top: 2px solid #c2b0e2;
    border-bottom: 2px solid #c2b0e2;
}

.subMenu-container h1 {
    color: #ffffff;
    font-size: 10px;
}

.subMenu-container p {
    color: #ffffff;
     font-size: 10px;
}

.subMenu-container a:hover h1 {
    color: #000000;
}

.subMenu-container a:hover p {
    color: #000000;
}

.subMenu-container img {
    display: block;
    margin: 0 auto;
    width: 80%;
}
/* Collection End*/

/*About Me setting*/

.aboutMe-container {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.aboutMe-title {
    /*分隔線設定*/
    width: 90%;
    border-top: 2px solid #c6c6c6;
    padding: 0;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
}

.aboutMe-title span {
    display: block;
    margin: 0 auto;
    background-color: #fff;
    width: 50%;
    height: auto;
    padding: 5px 10px;
    position: relative;
    top: -25px;
}

.author-img img {
    display: block;
    margin: 0 auto;
    width: 200px;
    border-radius: 100px;
}

.mydata {
    padding: 30px;
}

.mydata h2 {
    font-size: 25px;
    margin-bottom: 30px;
}

.mydata p {
    color: #484848;
}

.mydata h3 {
    font-size: 16px;
    color: #656565;
}

#readMore-btn {
    color: #f08d8d;
}

button:hover#readMore-btn {
    background-color: #b4e5ff;
    color: #ffffff;
}

.dataHide{
    display: none;
}
.dataHide h3{
    color: #939393;
}


/*Section setting END*/

footer {
    margin-top: 50px;
    padding: 50px;
    height: auto;
    background-color: #F7C0C0;
}

.footer-container {
    width: 80%;
    margin: 0 auto;
}

.footer-icon {
    margin-top: 30px
}

.footer-icon .icon-Ying-03 {
    /*logo設定*/
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 120px;
    color: #ffffff;
}

.loremWord {
    margin-top: 40px;
    color: #ffffff;
}
