/*導覽列*/

nav {
    width: 100%;
    height: 80px;
    background-color: #ededed;
    position: fixed;
    z-index: 1000;
}


/*導覽列容器設定*/

.nav-container {
    width: 90%;
    margin: 0 auto;
}


/*導覽列連結*/

nav a {
    list-style: none;
    color: #666;
    text-decoration: none;
    height: auto;
}

.nav-logo {
    margin-top: 10px;
    font-size: 20px;
    float: left;
    line-height: 80px;
    font-family: serif;
}


/*導覽列選項設定*/

.nav-item {
    float: right;
}

nav ul {
    margin: 0;
    height: 80px;
}

nav li {
    float: left;
    left: 120px;
    margin-left: 30px;
    list-style: none;
    font-size: 12px;
    font-family: sans-serif;
    line-height: 80px;
    text-align: center;
}

nav a:hover {
    color: #000000
}


/*區塊設定*/

section {
    margin: 0 auto;
    width: 100%;
}


/*區塊 1 設定*/

.section-1 {
    width: 100%;
    height: 1000px;
    float: left;
    background-image: url(../img/photo-1443527216320-7e744084f5a7.jpg);
    text-align: center;
    padding-top: 150px;
    color: #ffffff;
    font-family: sans-serif;
}


/*區塊 1 文字設定*/

.section-1 h1 {
    font-size: 50px;
}

.section-1 p {
    font-size: 18px;
    margin-top: 30px;
}


/*區塊 1 button設定*/

.button-section-1-all {
    margin: 150px auto;
    width: 22%;
}

.button-section-1-read_more {
    font-size: 12px;
    margin: 3px;
    width: 120px;
    border: 2px solid #ffffff;
    height: 50px;
    text-align: center;
    font-family: sans-serif;
    float: left;
}

.button-section-1-download {
    font-size: 12px;
    margin: 3px;
    background-color: #9a77f8;
    width: 120px;
    height: 50px;
    text-align: center;
    font-family: sans-serif;
    float: left;
}

.button-section-1-read_more a {
    color: #ffffff;
    text-decoration: none;
    line-height: 50px;
}

.button-section-1-download a {
    color: #ffffff;
    text-decoration: none;
    line-height: 50px;
}


/*區塊 2 設定*/

.section-2 {
    width: 100%;
    height: 800px;
    clear: both;
    padding-top: 150px;
    color: #575757;
    font-family: sans-serif;
}

.section-2-container {
    margin: 0 auto;
    width: 90%;
}

.section-2-pic img {
    width: 50%;
    float: left;
}

.section-2-word {
    height: 300px;
    width: 50%;
    float: left;
    text-align: center;
    padding-top: 150px;
}

.section-2-word h1 {
    font-size: 20px;
    padding-bottom: 20px
}

.section-2-word p {
    font-size: 12px;
}

.section-2-button {
    font-size: 12px;
    background-color: #9a77f8;
    width: 120px;
    height: 50px;
    text-align: center;
    font-family: sans-serif;
    position: relative;
    top: 50px;
    left: 230px;
}

.section-2-button a {
    color: #ffffff;
    text-decoration: none;
    line-height: 50px;
}


/*區塊 3 設定*/

.section-3 {
    width: 100%;
    height: 800px;
    clear: both;
    padding-top: 150px;
    color: #575757;
    font-family: sans-serif;
    background-color: #d3d3d3;
}

.section-3-container {
    margin: 0 auto;
    width: 90%;
}

.section-3-pic img {
    width: 50%;
    float: left;
}

.section-3-word {
    height: 380px;
    width: 50%;
    float: left;
    text-align: center;
    vertical-align: bottom;
    padding-top: 200px;
}

.section-3-word h1 {
    font-size: 20px;
    padding-bottom: 20px
}

.section-3-word p {
    font-size: 12px;
}

.section-3-button {
    font-size: 12px;
    background-color: #9a77f8;
    width: 150px;
    height: 50px;
    text-align: center;
    font-family: sans-serif;
    position: relative;
    top: 50px;
    left: 230px;
}

.section-3-button a {
    color: #ffffff;
    text-decoration: none;
    line-height: 50px;
}


/*區塊 4 設定*/

.section-4 {
    width: 100%;
    height: 600px;
    float: left;
    padding-top: 250px;
    background-image: url(../img/photo-1452723312111-3a7d0db0e024.jpg);
    text-align: center;
    padding-top: 150px;
    color: #ffffff;
    font-family: sans-serif;
}

.section-4 h1 {
    font-size: 50px;
}

.section-4 p {
    margin: 0 auto;
    font-size: 18px;
    margin-top: 30px;
    width: 60%;
}

.section-4-button {
    font-size: 12px;
    background-color: #9a77f8;
    width: 120px;
    height: 50px;
    text-align: center;
    font-family: sans-serif;
    position: relative;
    top: 50px;
    left: 600px;
}

.section-4-button a {
    color: #ffffff;
    text-decoration: none;
    line-height: 50px;
}


/*區塊 5 設定*/

.section-5 {
    width: 100%;
    height: 1005px;
    float: left;
    padding-top: 250px;
    text-align: center;
    padding-top: 150px;
    color: #525252;
    font-family: sans-serif;
}

.section-5-container {
    width: 60%;
    margin: 0 auto;
}

.section-5 h1 {
    font-size: 30px;
}

.section-5 p {
    font-size: 18px;
    margin-top: 30px;
}

.section-5-button {
    font-size: 12px;
    background-color: #9a77f8;
    width: 120px;
    height: 50px;
    text-align: center;
    font-family: sans-serif;
    position: relative;
    top: 50px;
    left: 350px;
}

.section-5-button a {
    color: #ffffff;
    text-decoration: none;
    line-height: 50px;
}

.section-5-pic img {
    width: 60%;
    padding-top: 100px;
}


/*區塊 6 設定*/

.section-6 {
    width: 100%;
    height: 1265px;
    float: left;
    background-color: #000000;
    padding-top: 250px;
    text-align: center;
    padding-top: 150px;
    color: #ffffff;
    font-family: sans-serif;
}

.section-6 h1 {
    font-size: 30px;
}

.section-6 p {
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.section-6-pic img {
    width: 25%;
    vertical-align: top;
}


/*區塊 7 設定*/

.section-7 {
    width: 100%;
    height: 600px;
    float: left;
    padding-top: 250px;
    background-image: url(../img/photo-1452723312111-3a7d0db0e024.jpg);
    text-align: center;
    padding-top: 150px;
    color: #ffffff;
    font-family: sans-serif;
}

.section-7-container {
    width: 60%;
    margin: 0 auto;
}

.section-7 h1 {
    font-size: 30px;
}

.section-7 p {
    font-size: 18px;
    margin-top: 30px;
}

.section-7-pic-all {
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: auto;
}

.section-7-pic-all img {
    margin-right: 310px;
}

.section-7-pic-1 img {
    width: 20px;
    float: left;
}

.section-7-pic-2 img {
    width: 150px;
    border-radius: 150px;
    float: left;
}

.section-7-pic-3 img {
    width: 20px;
    float: left;
}


/*區塊 8 設定*/

.section-8 {
    width: 100%;
    height: 400px;
    float: left;
    padding-top: 250px;
    text-align: center;
    padding-top: 150px;
    color: #575757;
    font-family: sans-serif;
}

.section-8-container {
    width: 80%;
    margin: 0 auto;
}

.section-8 h1 {
    font-size: 30px;
}

.section-8-pic-all {
    margin-top: 50px;
    margin-bottom: 30px;
    overflow: auto;
}

.section-8-pic-all img {
    width: 180px;
    margin-right: 170px;
}

.section-8-pic-1 img {
    float: left;
}

.section-8-pic-2 img {
    float: left;
}

.section-8-pic-3 img {
    float: left;
}

.section-8-pic-4 img {
    float: left;
}


/*區塊 9 設定*/

.section-9 {
    width: 100%;
    height: 300px;
    float: left;
    padding-top: 250px;
    padding-top: 150px;
    color: #575757;
    font-family: sans-serif;
    background-color: #e5e5e5;
}

.section-9-container {
    width: 80%;
    margin: 0 auto;
}

.section-9 h1 {
    font-size: 20px;
    float: left;
    margin-right: 80px;
}

.section-9-button {
    font-size: 12px;
    background-color: #9a77f8;
    width: 120px;
    height: 50px;
    text-align: center;
    font-family: sans-serif;
    float: left;
}

.section-9-button a {
    color: #ffffff;
    text-decoration: none;
    line-height: 50px;
}


/*Footer*/

footer {
    margin: 0 auto;
    width: 100%;
    height: 250px;
    background-color: #000000;
    margin-top: 4170px;
}

.footer-container {
    margin: 0 auto;
    width: 70%;
}

#footer-link {
    padding-top: 80px;
}

#footer-link p {
    font-size: 20px;
    font-family: sans-serif;
    color: #b9b9b9;
}

#footer-link a {
    color: #ffffff;
    text-decoration: none;
    line-height: 50px;
}

.top {
    position: fixed;
    top: 900px;
    right: 80px;
    width: 50px;
}

.top a {
    color: #ffffff;
    font-family: sans-serif;
    font-size: 25px;
    background-color: #9a9a9a;
    border-radius: 5px;
    padding: 10px 15px 5px;
    text-decoration: none;
}
